* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e5438;
}
.container {
  border: 1px solid black;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: none;
  background: #0c4730;
  cursor: pointer;
  color: #0e5438;
  position: relative;
  font-family: "RocknRoll One";
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #fff;
}

.dot {
  position: relative;
  width: 1rem;
  height: 1rem;
  background: #0c4730;
  border-radius: 50%;
  top: 0%;
  left: -20%;
  transform: translate(-100%, -50%);
  transition: transform 400ms;
  /*     cubic-bezier(0.12, 1.36, 0.39, 1.26); */
  z-index: -1;
}

.dot.third {
  z-index: 3;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 400ms;
}

.dot.first {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 400ms;
}

.dot.second {
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 400ms;
}

.btn:hover .dot.third {
  transform: translate(5.6rem, -1.4rem);
}

.btn:hover .dot.first {
  transform: translate(4rem, -5.7rem);
}

.btn:hover .dot.second {
  transform: translate(6rem, -1.5rem);
}
@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
